@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* navbar */
*{
  padding: 0px;
  margin: 0px;

}
.navbar{
  background-color: black;
  overflow: hidden;
  position: sticky;
  top: 0px;
  z-index: 1;
  
  
}
.logo{
  margin: 0px 70px 0px 80px;
}
.links{
  float: right;
  text-align: center;
  padding: 44px 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
}
#home{
  padding: 44px 45px;
}
.links:hover{
  background-color: #b4a7a7;
  transition: 0.5s;
}